{% load static %}

<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Book Details</title>
    <link rel="stylesheet" href="{% static 'css/normalize.css' %}" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <script type="module" src="https://kit.fontawesome.com/80d75008f5.js" crossorigin="anonymous"></script>
    <script type="module" src="{% static 'Javascript/UI/authUI.js' %}"></script>
    <script type="module" src="{% static 'Javascript/UI/userUI.js' %}"></script>
  </head>

  <body id="book-details-page">
    <header id="header">
      <nav>
        <a href="{% url 'home' %}" style="text-decoration: none; color: inherit;">
            <h3 class="logo" id="logo-link">The Midnight Scholar</h3>
        </a>

        <div class="links">
          <ul>
            <li><a href="{% url 'user_borrowed' %}">My Books</a></li>
            <li><a href="{% url 'user_dashboard' %}">Dashboard</a></li>
            <li><a href="#" id="logout-link">Logout</a></li>
          </ul>
        </div>

        <div class="search-profile">
          <a href="{% url 'user_search' %}"><i class="fa-solid fa-magnifying-glass"></i></a>
          <a href="{% url 'user_dashboard' %}"><i class="fa-solid fa-circle-user"></i></a>
        </div>
      </nav>
    </header>

    <h1 id="page-title">Book Details</h1>

    <div class="wrapper">
      <div class="book-container">
        <div class="image">
          <img id="book-image" src="../assets/images/download.webp" alt="Book Image" />
        </div>

        <div id="book-info">
          <p id="title">Title :</p>
          <div class="same-row">
            <p id="author">Author :</p>
            <p id="isbn">ISBN :</p>
          </div>
          <div class="same-row">
            <p id="category">Category :</p>
            <p id="status">Status :</p>
          </div>
          <p id="description">Description :</p>
        </div>
      </div>
      <div class="btnnn">
        <button class="btn-primary" id="borrow-btn">Borrow this book</button>
      </div>
    </div>

    <hr class="global-hr" />
    <footer class="global-footer">
      <p class="name">The Midnight Scholar</p>
      <div class="cnt">
        <p><a href="#">PRIVACY POLICY</a></p>
        <p><a href="#">TERMS OF ACCESS</a></p>
        <p><a href="#">CONTACT CURATOR</a></p>
      </div>
      <p class="copyrights">&copy; 2026 The Midnight Scholar Private Archive. All rights reserved.</p>
    </footer>
  </body>
</html>
