{% load static %}
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Borrowed Books</title>
    <link rel="stylesheet" href="{% static 'css/normalize.css' %}" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <script type="module" src="https://kit.fontawesome.com/80d75008f5.js" crossorigin="anonymous"></script>
    <script type="module" src="{% static 'Javascript/UI/authUI.js' %}"></script>
    <script type="module" src="{% static 'Javascript/UI/userUI.js' %}"></script>
  </head>

  <body id="borrowed-page">
      {% include "partials/user_navbar.html" %}

    <h1 id="page-title">Borrowed Books</h1>

    <ol id="book-list">
      <li class="book-item">
        <img src="..." class="book-img" />
        <span>Book Title</span>
        <a href="bookDetails.html" class="details-link">View Details</a>
      </li>
    </ol>
    <hr class="global-hr" />
    <footer class="global-footer">
      <p class="name">The Midnight Scholar</p>
      <div class="cnt">
        <p><a href="#">PRIVACY POLICY</a></p>
        <p><a href="#">TERMS OF ACCESS</a></p>
        <p><a href="#">CONTACT CURATOR</a></p>
      </div>
      <p class="copyrights">&copy; 2026 The Midnight Scholar Private Archive. All rights reserved.</p>
    </footer>
  </body>
</html>
