{% load static %}
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <title>nice library</title>
  </head>
  <body id="login-page">
    <main class="main-content">
      <div class="bg-blur blur-primary"></div>
      <div class="bg-blur blur-secondary"></div>

      <div class="login-container">
        <header class="brand-header">
          <h1 class="brand-title">The Midnight Scholar</h1>
          <p class="brand-subtitle">Private Archival Access</p>
        </header>
        <div class="login-card">
          <form class="login-form" method="POST" action="{% url 'login'%}">
            {% csrf_token %}

            <label for="email" class="form-label">username (email)</label>
            <input type="text" placeholder="username@gmail.com" class="input-field" id="login-email" name="username" value="{{ form.username.value|default:'' }}" />
            <div class="error-msg" id="login-email-error">{% for error in form.username.errors %}{{ error }}{% endfor %}</div>

            <label for="password" class="form-label">password</label>
            <input type="password" placeholder="******" class="input-field" id="login-password" name="password"/>
            <div class="error-msg" id="login-password-error">{% for error in form.password.errors %}{{ error }}{% endfor %}{% for error in form.non_field_errors %}{{ error }}{% endfor %}</div>

            <div class="checkbox-group">
              <label class="checkbox-container"
                >Stay Logged in
                <input type="checkbox" id="remember-login" name="remember_me"/>
                <span class="checkmark"></span>
              </label>
            </div>

            <button type="submit" class="btn-primary">Login</button>
          </form>
        </div>
        <div class="link">
          <p class="sans-text">Don't have an account? <a href="../signup">Sign up!</a></p>
        </div>
      </div>
    </main>
    <div class="footer-divider"></div>
    <footer class="global-footer">
      <p class="name">The Midnight Scholar</p>
      <div class="cnt">
        <p><a href="#">PRIVACY POLICY</a></p>
        <p><a href="#">TERMS OF ACCESS</a></p>
        <p><a href="#">CONTACT CURATOR</a></p>
      </div>
      <p class="copyrights">&copy; 2026 The Midnight Scholar Private Archive. All rights reserved.</p>
    </footer>
  </body>
</html>
