{% load static %}
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'css/normalize.css' %}" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <title>nice library</title>
  </head>

  <body id="sign-up-page">
    <main class="main-content">
      <div class="bg-blur blur-primary"></div>
      <div class="bg-blur blur-secondary"></div>

      <div class="signup-container">
        <header class="brand-header">
          <h1 class="brand-title">Create An Account</h1>
          <p class="brand-subtitle">Join the archives</p>
        </header>
        <div class="signup-card">
          <form class="signup-form" method="POST">
            {% csrf_token %}

            <label for="signup-name" class="form-label">Full Name</label>
            <input type="text" placeholder="your name" class="input-field" id="signup-name" name="name" value="{{ form.name.value|default:'' }}"/>
            <div class="error-msg" id="signup-username-error">{% for error in form.name.errors %}{{ error }}{% endfor %}</div>

            <label for="signup-email" class="form-label">username (email)</label>
            <input type="text" placeholder="username@gmail.com" class="input-field" id="signup-email" name="email" value="{{ form.email.value|default:'' }}"/>
            <div class="error-msg" id="signup-email-error">{% for error in form.email.errors %}{{ error }}{% endfor %}{% for error in form.non_field_errors %}{{ error }}{% endfor %}</div>

            <label for="signup-password" class="form-label">password</label>
            <input type="password" placeholder="******" class="input-field" id="signup-password" name="password"/>
            <div class="error-msg" id="signup-password-error">{% for error in form.password.errors %}{{ error }}{% endfor %}</div>

            <!-- <div class="checkbox-group">
              <label class="checkbox-container"
                >Admin Account
                <input type="checkbox" id="create-admin-account" class="isAdminCheckBox" name="isAdmin">
                <span class="checkmark"></span>
              </label>
            </div> -->

            <button type="submit" class="btn-primary">Sign Up</button>
          </form>
        </div>
        <div class="link">
          <p class="sans-text">Already have an account? <a href="/login">Login!</a></p>
        </div>
      </div>
    </main>
    <div class="footer-divider"></div>
    <footer class="global-footer">
      <p class="name">The Midnight Scholar</p>
      <div class="cnt">
        <p><a href="#">PRIVACY POLICY</a></p>
        <p><a href="#">TERMS OF ACCESS</a></p>
        <p><a href="#">CONTACT CURATOR</a></p>
      </div>
      <p class="copyrights">&copy; 2026 The Midnight Scholar Private Archive. All rights reserved.</p>
    </footer>
  </body>
</html>
